*{
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 1rem;
    line-height: 1.4;
}

h1{
    text-align: center;
    font-size: 60px;
    color: #1f2225;
    font-size: 5rem;
    line-height: 1.1;
}
.teal-text{
    color: rgb(21, 105, 130);
}
h3{
    font-size: 30px;
    color: rgb(225, 151, 14);
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
}
.unique{
    color: white;
    text-align: center;
    padding-inline: 20px;
    background-color: rgb(9, 163, 180);
    border: solid 3px black;
}
.climber-bg-header{
    color: white;
}
.climber-bg{
    color: white;
    background-image: url(../htmlcsswithkevinpowell/images/simple-steps.jpg);
    border: #0b4a5a solid 10px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
}
a{
    color: black;
}
a:visited{
    color: blue;
}
a:hover,
a:focus-visible{
    color: rgb(195, 109, 123);
}
ul,
ol{
    list-style: square;
}
li{
    margin-block: 9px;
}
li::marker{
    color:rgb(188, 127, 52)
}
img{
    margin:auto
    display block;
    max-inline-size: 100%;
}
.two-columns{
    display:grid;
    gap:30px;
    grid-template-columns: 1fr 1fr;

}
.wrapper{
    max-inline-size: 1000px;
    margin-inline: auto;
}
footer{
    background-color: rgb(9, 163, 180);
    text-align: center;
    padding: 20px ;
}
